.container {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}

.govWrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
}

.ddWrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.btnModal {
    margin-top: 20px;
    color: black;
    padding: 8px 20px;
    border-radius: 5px;
}

.chatWrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
}
